@media screen and (max-width: 500px) {
    .head-container, .main-container, .footer-container {
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media screen and (min-width: 900px) {
    .head-container {
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    .main-container {
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}